<h1 class="text-center display-5">Buy Fairly Used Clothing</h1>



<!-- Pass in data from server.js -->
<div class="row">
  {{#each clothing}}
  <div class="card col container border-dark text-white bg-info" style="width: 18rem;">
    <div class="card-body ">
      <p><span class="label">Item for Sale:</span> {{this.Type}}</p>
      <p><span class="label">Brand:</span> {{this.Designer}}</p>
      <p><span class="label">Price($):</span> {{this.Cost}}</p>
      <p><span class="label">Description:</span> {{this.Description}}</p>

      <button data-id="{{this.id}}" class="delItem btn-danger">Sold</button>

      <a href="/clothing/{{this.id}}">Update this Item</a>
    </div>
  </div>
  {{/each}}
</div>

<h2 class="text-center display-5">Post A Piece of Clothing For Sale</h2>

<form class="create-clothing">

  <div class="form-group">
    <label for="item">Item for Sale:</label>
    <input type="text" id="item" name="item">
  </div>

  <div class="form-group">
    <label for="brand">Brand Name:</label>
    <input type="text" id="brand" name="brand">
  </div>

  <div class="form-group">
    <label for="cost">Price:</label>
    <input type="text" id="cost" name="cost">
  </div>

  <div class="form-group">
    <label for="item">Item Description:</label>
    <textarea id="description" name="description" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Post an Item</button>
</form>

<script type="text/javascript">

  $(".delItem").on("click", function (event) {
    var id = $(this).data("id");

    // Send the DELETE request.
    $.ajax("/api/quotes/" + id, {
      type: "DELETE"
    }).then(
      function () {
        console.log("deleted id ", id);
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".create-clothing").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var newClothing = {
      Type: $("#item").val().trim(),
      Designer: $("#brand").val().trim(),
      Cost: $("#cost").val().trim(),
      Description: $("#description").val().trim()
    };

    // Send the POST request.
    $.ajax("/api/quotes", {
      type: "POST",
      data: newClothing
    }).then(
      function () {
        console.log("added new clothing");
        // Reload the page to get the updated list
        location.reload();
      }
    );
  });

  $(".update-clothing").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var updatedItem = {
      Type: $("#item").val().trim(),
      Designer: $("#brand").val().trim(),
      Cost: $("#cost").val().trim(),
      Description: $("#description").val().trim()
    };

    var id = $(this).data("id");

    // Send the POST request.
    $.ajax("/api/clothing/" + id, {
      type: "PUT",
      data: updatedItem
    }).then(
      function () {
        console.log("updated clothing item");
        // Reload the page to get the updated list
        location.assign("/clothing");
      }
    );
  });

</script>