<h1 class="text-center display-5">Update {{this.Type}}</h1>

<form data-id="{{this.id}}" class="container text-center update-clothing">
  <div class="mx-auto form-group w-50 ">
    <label for="item">Item for Sale:</label>
    <input class="form-control" placeholder="Enter Item" type="text" id="item" name="item" value="{{this.Type}}">
  </div>

  <div class="mx-auto form-group w-50 ">
    <label for="brand">Brand Name:</label>
    <input class="form-control" placeholder="Enter Brand Name" type="text" id="brand" name="brand"
      value="{{this.Designer}}">
  </div>

  <div class="mx-auto form-group w-50 ">
    <label for="cost">Price:</label>
    <input class="form-control" placeholder="Enter Price ($)" type="text" id="cost" name="cost" value="{{this.Cost}}">
  </div>

  <div class="mx-auto form-group w-50 ">
    <label for="item">Item Description:</label>
    <textarea class="form-control" rows="3" id="description" name="description" rows="8"
      cols="40">{{this.Description}}</textarea>
  </div>
  <button class="btn-primary" type="submit">Update Post</button>
</form>